<div class="card">
  <h3 class="card-header">Example</h3>
  <div class="card-content">
    <div class="step">
      <p class="summary">1.Purpose</p>
      <p class="description">Decide the employee benefits and perks for 2020</p>
    </div>
    <div class="step">
      <p class="summary">2.Agenda</p>
      <p class="description">1. Highlight the most demanded perks</p>
      <p class="description">2. Share possible ideas and implementations</p>
      <p class="description">3. Identify action items and responsibilities</p>
    </div>
    <div class="step">
      <p class="summary">3.Documents</p>
      <p class="description">
        Find attached the employee survey conducted last week. Also here's a link with the most
        trending company benefits for IT companies</p>
    </div>
    <div class="step">
      <p class="summary">4.Actions</p>
      <p class="description">Bring perk ideas you consider a good fit for our company's culture</p>
    </div>
  </div>
</div>
