<div class="card">
  <h3 class="card-header">Example</h3>
  <div class="card-content">
    <div class="step">
      <p class="summary">1.Purpose</p>
      <p class="description">Determine action items based on employee survey</p><br>
    </div>
    <div class="step">
      <p class="summary">2.Agenda</p>
      <div class="benefits">
        <div class="check"></div> Highlight the most critical requirements
      </div>
      <div class="benefits">
        <div class="check"></div> Highlight the most relevant conclusions
      </div>
      <div class="benefits">
        <div class="check"></div> Highlight the most relevant conclusions
      </div>
    </div>
    <div class="step">
      <p class="summary">3.Documents</p>
      <p class="description">To find a new marketing person</p><br>
    </div>
    <div class="step">
      <p class="summary">4.Actions</p>
      <p class="description">To find a new marketing person</p><br>
    </div>
  </div>
</div>
