<div class="card">
  <h3 class="card-header">Example</h3>
  <div class="card-content">
    <div class="step">
      <p class="summary">1.Purpose</p>
      <p class="description">Determine action items based on employee survey</p><br>
    </div>
    <div class="step">
      <p class="summary">2.Agenda</p>
      <div class="benefits">
        <div class="check"></div> Reach a consensus on the most critical matters
      </div>
      <div class="benefits">
        <div class="check"></div> Share possible ideas and implementations
      </div>
      <div class="benefits">
        <div class="check"></div> Make a list of action items and delegate a responsible person
      </div>
    </div>
    <div class="step">
      <p class="summary">3.Documents</p>
      <p class="description">Find attached the employee survey conducted last week</p><br>
    </div>
    <div class="step">
      <p class="summary">4.Actions</p>
      <div class="benefits">
        <div class="check"></div> Define your top three most critical matters
      </div>
      <div class="benefits">
        <div class="check"></div> Bring a possible solution to each
      </div>
    </div>
  </div>
</div>
