<section class="container">
  <header>
    <h1 class="title">P.A.D.A.</h1>
    <p class="subtitle">Purpose | Agenda | Documents | Actions</p>
    <section class="tagline">
      A template for better meeting invites
    </section>
  </header>
  <section class="content">
    <app-card *ngFor="let step of steps"
      [title]="step.title"
      [summary]="step.summary"
      [description]="step.description"
      [benefits]="step.benefits"
      [optional]="step.optional"></app-card>
  </section>
</section><br>
<app-example></app-example>
<br>
<footer>
  Made with 💙 by
  <a class="creator"
    href="https://twitter.com/jdjuan"
    target="_blank">@jdjuan</a>
</footer>
