<section class="container">
  <header>
    <h1>P.A.D.A.</h1>
    <p class="smaller">Purpose | Agenda | Documents | Actions</p>
  </header>
  <section class="tagline">
    A template for <span class="underline">better</span> meeting invites
  </section>
  <section class="content">
    <div class="row">
      <div class="card">
        <div class="header">
          <h3>1.Purpose</h3>
          <p class="accent">Outcome of the meeting</p>
        </div>
        <div class="card-description">
          <p class="smaller">
            Every meeting should have a well-defined goal, otherwise, you will
            end up with wandering conversations.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="header">
          <h3>2.Agenda</h3>
          <p class="accent">Points to be addressed</p>
        </div>
        <div class="card-description">
          <p class="smaller">
            A set of points makes meetings more organized, allowing you to know
            where you are at, what's the next topic, and how much is left to be
            discussed.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="header">
          <h3>3.Documents</h3>
          <p class="accent">Reading material</p>
        </div>
        <div class="card-description">
          <p class="smaller">
            Meetings are more productive when aimed at discussions, not
            presentations. Send PowerPoint, Word, or Excel files in the meeting
            invite, and use the allocated time to discuss them.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="header">
          <h3>4.Actions</h3>
          <p class="accent">Relevant tasks</p>
        </div>
        <div class="card-description">
          <p class="smaller">
            Meetings are more productive when participants take an active role.
            For example, ask them to bring suggestions to the matter that will
            be discussed.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
<footer>
  Made with ❤️️ by
  <a class="creator" href="https://twitter.com/jdjuan" target="_blank"
    >@jdjuan</a
  >
</footer>
