@import "~src/styles.scss";

section.container {
  header {
    text-align: center;
    .title {
      font-size: 3.8rem;
      font-weight: 800;
    }
    .subtitle {
      font-weight: 100;
      font-size: 1rem;
    }
    .tagline {
      margin: 1rem;
      color: white;
      font-size: 1.5rem;
      border-radius: 7px;
      display: inline-block;
      background-image: linear-gradient(90deg, #168be8, #70b9f3);
      padding: 7px 19px;
    }
  }

  section.content {
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
      .card {
        position: relative;
        max-width: 29rem;
        margin: 1.2rem 1.4rem;
        border-radius: 10px;
        height: 17rem;
        box-shadow: 3px 3px 11px 0px #25283d38;
        .card-header {
          margin: 0;
          font-weight: 800;
          margin: 0;
          background-color: violet;
          color: white;
          margin: 0;
          font-size: 2rem;
          padding: 15px;
          border-radius: 10px 10px 0 0;
        }
        .card-content {
          margin: 0rem 1.1rem;
          text-align: left;
          .summary {
            font-size: 18px;
            background-color: #f9a3ff;
            background-color: #ee82ecbd;
            color: white;
            border-radius: 7px;
            padding: 4px 14px;
            display: inline-block;
            margin: 1rem 0rem;
          }
          .description {
            font-size: 1rem;
            text-align: left;
          }
          .corner {
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(90deg, #168be8, #70b9f3);
            color: white;
            padding: 4px 10px;
            font-size: 12px;
            border-radius: 7px;
            border-radius: 10px 0px 10px 0px;
          }
        }
      }
    }
  }
}

footer {
  text-align: right;
  margin: 0.5rem 0;

  a.creator {
    font-weight: 600;

    &:active,
    &:visited,
    &:link {
      color: $primary;
    }
  }
}

@media (min-width: 600px) {
}
