/* You can add global styles to this file, and also import other style files */
$primary: #25283d; // text
// $primary: #616161; // text
// $primary: #EFD9CE;
$secondary: #25283d; // boxes
$accent: white; //background
// $accent: #25283D; //background

body {
  color: $primary;
  background-color: $accent;
  font-family: monospace;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
  text-align: center;
}
